{% extends "layout.html" %}
{% block content %}
<div class="center">
  <div class="card green">
    <div class="additional">
      <div class="user-card">
        <div class="level center">
          Cases/1M: 1240
        </div>
        <div class="points center">
          Today cases: 12
        </div>
        <img src={{ flag }} class="center">
      </div>
      <div class="more-info">
        <h1>{{ name }}</h1>
        <div class="coords">
          <span></span>
          <span></span>
        </div>
        <div class="coords">
          <span>Continent: {{ continent }}</span>
          <span>City, Country</span>
        </div>
        <div class="stats">
          <div>
            <div class="title">Cases</div>
            <i class="fa fa-bed"></i>
            <div class="value">{{ cases }}</div>
          </div>
          <div>
            <div class="title">Deaths</div>
            <i class="fa fa-dizzy"></i>
            <div class="value">{{ deaths }}</div>
          </div>
          <div>
            <div class="title">Recovered</div>
            <i class="fa fa-walking"></i>
            <div class="value">{{ recovered }}</div>
          </div> 
          <div>
            <div class="title">New cases</div>
            <i class="fa fa-plus-square"></i>
            <div class="value">{{ todaycases }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Belgium</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
      <span class="more">Mouse over the card for more info</span>
    </div>
  </div>

</div>
{% endblock content %}